<script setup>

const props = defineProps({
  json: {
    type: Object,
    required: true
  }
})

</script>

<template>
  <div>
    <h3>Please look at the source code of this page. Not in DEV tools, the real HTML source code!<br>CMD/Strg + u</h3>
    <pre>{{json.content}}</pre>
  </div>
</template>
