<ul>
    <li><a href="/" data-uk-icon="home">Home</a></li>
    <f:for each="{mainnavigation}" as="mainnavigationItem">
        <li>
            <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}"
               title="{mainnavigationItem.title}">
                {mainnavigationItem.title}
            </a>
            <f:if condition="{mainnavigationItem.children}">
                <ul>
                    <f:for each="{mainnavigationItem.children}" as="child">
                        <li>
                            <a href="{child.link}" target="{child.target}" title="{child.title}">
                                {child.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </li>
    </f:for>
</ul>


