<template>
  <router-view v-slot="{ Component }">
    <transition name="fade" mode="out-in">
      <keep-alive>
        <component :is="Component" :key="$route.path"></component>
      </keep-alive>
    </transition>
  </router-view>
</template>

<style lang="scss">
@import "../node_modules/uikit/src/scss/variables-theme";
@import "../node_modules/uikit/src/scss/mixins-theme";
@import "../node_modules/uikit/src/scss/uikit";
#app {
  display: block !important;
}
</style>
