<script setup>
import {ref, defineComponent, onMounted, computed} from "vue";
import axios from "axios";
import {useRoute, useRouter} from 'vue-router'
import LayoutDefault from "./layouts/Default.vue";
import UkNavbar from "../components/Navbar/Base.vue";

defineComponent({
  name: "Index",
  components: {
    LayoutDefault,
    UkNavbar
  }
})

const route = useRoute()
const router = useRouter()
const apiURL = 'https://backend-demo.ddev.site'
const isLoading = ref(true)
const json = ref({})
const backendLayout = ref('')
const navigation = ref([])

const layout = computed(() => {
  switch (backendLayout.value) {
    default:
      return LayoutDefault
  }
})

onMounted(async () => {
  fetchData('834')
  setTimeout(() => {
    fetchData('')
  }, 500);
})

function fetchData(type) {
  json.value = {}
  isLoading.value = true
  const url = `${apiURL}${route.path}?timestamp=${new Date().getTime()}&type=${type}`
  axios.get(url)
      .then(function (response) {
        if (type === '834') {
          navigation.value = response.data.navigation
        } else {
          json.value = response.data
          isLoading.value = false
          backendLayout.value = response.data.appearance.backendLayout
        }
      })
      .catch(function (error) {
        console.error(error);
      });
}

</script>

<template>
  <div>
    <div v-if="isLoading"
         class="uk-position-center uk-position-absolute uk-position-z-index uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-width-1-1 uk-height-1-1">
      <div class="uk-margin-small-right" data-uk-spinner="ratio: 2"></div>
    </div>

    <uk-navbar v-if="!isLoading" :items="navigation"/>
    <component v-if="!isLoading" :json="json" :is="layout" :key="$route.path"></component>
  </div>
</template>

