{namespace vue=Exotec\Sitepackage\ViewHelpers}

<div id="app" style="display: none">
    <f:spaceless>
        <f:render partial="Navigation/MainNavigation" arguments="{_all}"/>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
    </f:spaceless>
</div>

<vue:assets path="/typo3conf/ext/sitepackage/Resources/Public/JavaScript/my-vue-app/dist/assets"/>
