<script setup>
import {defineComponent} from "vue";
import UkMenuList from "./MenuList.vue";

defineComponent({
  name: "uk-navbar",
  components: {
    UkMenuList
  }
})

const props = defineProps(['items'])

</script>

<template>
  <nav data-uk-navbar>
    <div class="uk-navbar-left">
      <uk-menu-list v-if="items" class="uk-visible@s" :items="items"/>
    </div>
  </nav>
</template>


