<script setup>
import {defineComponent, ref} from "vue";

defineComponent({
  name: "uk-menu-list",
});

const props = defineProps(['items'])

</script>


<template>
  <ul v-if="items && items[0]" class="uk-navbar-nav">
    <li>
      <router-link :to="items[0].link">
        <span data-uk-icon="home"></span>
      </router-link>
    </li>
    <li v-for="item in items[0].children" :key="item.id" :class="item.active ? 'uk-active' : ''">
      <router-link :to="item.link">
        {{ item.title }}
        <span v-if="item.children" data-uk-icon="chevron-down"></span>
      </router-link>
      <div v-if="item.children" class="uk-navbar-dropdown uk-background-secondary uk-padding-small">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li v-for="item in item.children" :key="item.id" :class="item.active ? 'uk-active' : ''">
            <router-link :to="item.link">
              {{ item.title }}
            </router-link>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</template>
